@import "./base.css";

#app {
  font-weight: 300;
}
p {
  font-size: 1.2rem;
}
.section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  margin: 30px auto 0px;
  padding: 20px 0px;
}
.section---fullWidth {
  max-width: 100%;
}
.section---whiteHeader {
  color: #fff;
}
.button {
  color: black;
  background-color: #02cab9;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  line-height: 120%;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}
.button---VerticalMargin {
  display: inline-block;
  margin: 20px auto;
}
.button:hover {
  background-color: #d694f7;
  transition: 0.3s;
}
.section---vertical {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .section {
    padding: 20px;
    text-align: center;
  }
  .section---fullWidth {
    padding: 20px 0px;
  }
  .section---vertical {
    padding: 20px;
  }
}
